<%
    article=@article
%>
<h1><%= article.title %></h1>

<p>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <%= render "article", article: article %>
    
    <a href="<%= root_path() %>" class="card-link">Back</a>
    <a href="<%= article_path %>/edit" class="card-link">Edit</a>
    <%= link_to "Editar", edit_article_path(article) %>
    <%= button_to "Delete", article_path(article.id), method: :delete, class: "btn btn-danger" %>

    <%= render "comments/form" %>

    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Comments</h4>
      <%= render @article.comments %>
    </div>


  </div>
</div>
</p>
